
.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 600px;
  right: 100px;
  color: white;
  font-size:25px;
  padding-left: 20px;
  padding-right: 20px;
}

