  
.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
hr
{
	height:1px;
	border-width:0;
	color:gray;
	background-color:gray;
}
.h2
  {
		text-align:center;
		color:navy;
  }
.border
{
      border: 2px dashed red;
      margin-right:900;
}
ul
{
    list-style: none;
}
.sidebar a {
  display: block;
  color: black;
  padding: 15px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: navy;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #9b9b9b;
  color: white;
}

div.content {
  margin-left: 285px;
  padding: 1px 16px;
  height: 100px;
}

div.con2{
	margin-left:350px;
	padding :1px 16px;
	height: 100px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
	
.navbar {
  width: 100%;
height:80px;
  background-color: black;
  overflow: auto;
  margin-left:0px;
  margin-top:0px;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #cccccc;
}

.active {
  background-color: #9b9b9b;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.column {
  float: left;
  width: 30%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* contact us form css 

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: linen;
  padding: 20px;
}

*/