.slide1,.slide2,.slide3,.slide4,.slide5,.slide6,.slide7
{
	display:block;
	position:absolute;
	margin-left:300;
	width: 1000;
	height: 700;
}
.slide1
{
	animation: fade1 20s infinite;
}

.slide2
{
	animation: fade2 20s infinite;
}

.slide3
{
	animation: fade3 20s infinite;
}

.slide4
{
	animation: fade4 20s infinite;
}

.slide5
{
	animation: fade5 20s infinite;
}

@keyframes fade1
{
	0%{opacity : 1;}
	25%{opacity : 0;}
	50%{opacity : 0;}
	75%{opacity : 0;}
	100%{opacity : 1;}
	
}

@keyframes fade2
{
	0%{opacity: 0;}
	25%{opacity : 1;}
	50%{opacity : 0;}
	75%{opacity : 0;}
	100%{opacity : 0;}
	
}

@keyframes fade3
{
	0%{opacity : 0;}
	25%{opacity : 0;}
	50%{opacity : 1;}
	75%{opacity : 0;}
	100%{opacity : 0;}
	
}

@keyframes fade4
{
	0%{opacity : 0;}
	25%{opacity : 0;}
	50%{opacity : 0;}
	75%{opacity : 1;}
	100%{opacity : 0;}
	
}

@keyframes fade5
{
	0%{opacity : 0;}
	25%{opacity : 0;}
	50%{opacity : 0;}
	75%{opacity : 0;}
	100%{opacity : 1;}
	
}
